@font-face {
  font-family: "Garnett-Reg";
  src: url("/fonts/HKGrotesk-Regular.ttf") format("truetype");
  font-display: block;
  font-weight: normal;
}

@font-face {
  font-family: "Garnett";
  src: url("/fonts/HKGrotesk-SemiBold.ttf") format("truetype");
  font-display: block;
  font-weight: normal;
}

@font-face {
  font-family: "Domain-it";
  src: url("/fonts/LeagueGothic-Regular.otf") format("opentype");
  font-display: block;
  font-weight: normal;
  font-style: italic;
}
